[Install]
WantedBy=default.target

[Service]
ExecStart=/home/ctrl-p/.nix-profile/bin/gammastep -c /home/ctrl-p/.config/gammastep/config.ini
Restart=on-failure
RestartSec=3

[Unit]
Description=Gammastep colour temperature adjuster
Documentation=https://gitlab.com/chinstrap/gammastep/
