/* === Gruvbox Dark === */
@define-color bg       #282828;
@define-color fg       #ebdbb2;
@define-color red      #fb4934;
@define-color green    #b8bb26;
@define-color yellow   #fabd2f;
@define-color blue     #83a598;
@define-color purple   #d3869b;
@define-color aqua     #8ec07c;
@define-color gray     #a89984;
@define-color orange   #fe8019;

* {
  font-family: Fira Code;
  font-size: 18px;
}

window#waybar {
  background-color: transparent;
}

#workspaces {
  color: @fg;
  border-radius: 10px;
  background: rgba(56, 60, 74, 0.5);
}

#workspaces button {
  color: @fg;
  border-radius: 10px;
  transition:
    background 0.2s,
    color 0.2s;
  padding: 5px;
}

#workspaces button:hover {
  color: @bg;
  background: @fg;
  font-weight: bold;
  transition:
    background 0.2s,
    color 0.2s;
}

#workspaces button.focused {
  background: @aqua;
  color: @bg;
  font-weight: bold;
}

#workspaces button.urgent {
  background: @red;
  color: @bg;
}

#clock,
#custom-mem,
#custom-volume,
#custom-wifi,
#tray {
  color: @fg;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px 10px 10px 10px;
  transition: none;
  background: rgba(56, 60, 74, 0.5);
}
