window {
	font-size: 32px;
	font-family: "Roboto Mono Medium";
	background-color: rgba(40, 40, 40, 1);
	color: rgba(235, 219, 178, 1);
}

#entry:selected {
	background-color: rgba(146, 131, 116, 1);
}
